<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>425776832180-jl24am2ng2atrmhfpnpe2q7qpjm3r10f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425776832180-jl24am2ng2atrmhfpnpe2q7qpjm3r10f</string>
	<key>API_KEY</key>
	<string>AIzaSyBPom92c4MGUAQF0Ll-lfPsCG7YGlnEMqU</string>
	<key>GCM_SENDER_ID</key>
	<string>425776832180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.noahRGdgflutter</string>
	<key>PROJECT_ID</key>
	<string>noahrgdgflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>noahrgdgflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425776832180:ios:0f3349676479a9821441e1</string>
</dict>
</plist>